@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@200&family=Press+Start+2P&family=Prompt:wght@200&family=Roboto:wght@100;300;400;500;900&family=Smooch+Sans&family=Work+Sans:wght@100;200;300;400;500&display=swap");

.c-container {
	width: 100%;
	height: 20vh;
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: purple;
}
.care {
	width: 90%;
	height: 60%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2px;
	text-align: center;
	direction: rtl;
	background: aliceblue;
}
.star-box {
	width: 300px;
	height: 170px;
	-webkit-box-shadow: -1px 0px 11px 0px rgba(0,0,0,0.71); 
	box-shadow: -1px 0px 11px 0px rgba(0,0,0,0.71);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
	padding: 5px;
	text-align: center;
	font-weight: 300;
	font-family: "Secular One", sans-serif;
}
.stars {
	width: 100%;
	height: 50%;
	justify-content: center;
	align-items: center;
}
.star-box:nth-child(4) {
	align-self: flex-end;
}
.star-box:nth-child(2) {
	align-self: flex-end;
}
.form-wrapper {
	width: 80%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	border: none;
	box-shadow: 0rem;
	padding: 70px;
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-left: 30px;
	margin-top: 5px;
}
form {
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.form-wrapper h1 h4 {
	font-weight: bold;
	font-size: 20px;
}
@keyframes floating {
	from {
		transform: translate(0, 0px);
	}
	65% {
		transform: translate(0, 15px);
	}
	to {
		transform: translate(0, -0px);
	}
}
input {
	border: none;
	border-bottom: 1px black solid;
	outline: none;
	text-align: center;
	background-color: transparent;
	width: 50%;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 5px;
}
.form-btn {
	width: 50%;
	height: 40px;
	border: none;
	border-radius: 5px;
	background-color: blueviolet;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
}
.thanks {
	color: #59b256;
	margin-top: 3px;
	font-weight: 600;
	font-size: 20px;
}
@media screen and (max-width: 480px) {
	.c-container {
		width: 100vw;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		align-items: center;
	}
	input {
		border-bottom: 1px black solid;
		letter-spacing: 3px;
	}
	.form-wrapper {
		width: 90%;
		height: 80%;
	}
	.form-wrapper input {
		width: 100%;
	}
	.form-wrapper button {
		width: 100%;
		height: 15%;
	}
	.form-btn {
		color: white;
	}
	h4 {
		/* font-weight: 800; */
		font-size: 20px;
	}
}
