.f-container {
	width: 98.9vw;
	height: 50vh;
	background-color:#181818;
	display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px 10px 0 0;
}
.footer-content{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}
.social-icons{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bdi-img{
    width:200px;
    height: 200px;
    border-radius: 50%;
}
.line{
  height: 2px;
  position: absolute;
  bottom: 35px;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-around;

}

