@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@200&family=Press+Start+2P&family=Prompt:wght@200&family=Roboto:wght@100;300;400;500;900&family=Secular+One&family=Smooch+Sans&family=Work+Sans:wght@100;200;300;400;500&display=swap");

.c-container {
	background-color: aliceblue;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.boxes-wrapper {
	width: 100%;
	height: 70%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.box {
	font-family: "Lato", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	width: 150px;
	height: 130px;
}

.content-wrapper {
	width: 70%;
	text-align: center;
	display: flex;
}
.headline {
	font-family: "Lato", sans-serif;
	font-size: large;
	font-weight: 400;
	padding: 10px;
	margin-bottom: 5px;
}
.headline h1 {
	text-align: center;
}
.content {
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.graph-img {
	width: 100%;
	height: 300px;
	padding: 20px;
	align-self: flex-end;
}
.thinking{
	width: 50%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.thinking-img{
	width:50%;
	height: 50%;
}
@media screen and (max-width: 480px) {
	.c-container {
		background-color: aliceblue;
		width: 100%;
		height: 90vh;
	}
	.boxes-wrapper {
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: 20%;
		border-bottom-left-radius: 160px;
		border-bottom-right-radius: 160px;
	}
	.box{
		width:50%;
		height: 70%;
		font-weight:900;
		font-size: larger;
	}
	.headline{
		padding: 10px;
		font-size: 15px;
		font-weight: 200;
	}
	.content-wrapper{
		display: flex;
		justify-content: center;
	}
	.paragraph{
		font-size: 15px;
		font-weight: 100;
	}
	.thinking{
		display: none;
	}
	.rate{
		width: 320px;
		height: 300px;
	}
}
